nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
  border-radius: 8px;
  padding: 20px 0;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgb(0, 123, 255, 0.6);
}

nav select, nav input {
  padding: 0px 5px;
  height: 40px;
  border-radius: 8px;
  border: solid 2px #007bff;
  background-color: #ffffff;
  color: #333;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 3px rgb(0, 123, 255, 0.6);
}
input::placeholder {
  border-color: #0056b3;  
  font-size: 16px;
  opacity: 0.8;
}

.lore-more {
  display: none;
  padding: 2px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #007bff;
  font-size: 18px;  
  letter-spacing: 1px;
  color: #007bff;
  background-color: white;
  transition: background-color 0.3s, color 0.3s; /* Adicionando uma transição suave */
  box-shadow: 0 4px 6px rgb(0, 123, 255, 0.6);
  cursor: pointer;
}
.lore-more:hover {
  background-color: #f0f0f0;
}

/* Estilização da lista de Pokémon */
.pokemon-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 10px 0;
  flex-wrap: wrap;
}

/* Estilização dos cards de Pokémon */
.pokemon-data {
  display: flex;
  max-width: 320px;
  padding: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border-radius: 12px;
  border: 2px solid #007bff;
  background-color: #fafafa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgb(0, 123, 255, 0.6);
}
.pokemon-data:hover {
  transform: translateY(-3px);
}
.pokemon-type {
  display: flex;
  flex-direction: column;
}

/* Estilização para cada tipo de Pokémon */
.pokemon-data.fire { background-color: #ffb3b3; }
.pokemon-data.water { background-color: #99ccff; }
.pokemon-data.grass { background-color: #c0f0b0; }
.pokemon-data.electric { background-color: #fff599; }
.pokemon-data.psychic { background-color: #f5cbaa; }
.pokemon-data.ice { background-color: #c1efff; }
.pokemon-data.dragon { background-color: #e6ccff; }
.pokemon-data.dark { background-color: #333; color: white;}
.pokemon-data.fairy { background-color: #f8e0ff; }
.pokemon-data.rock { background-color: #cccccc; }
.pokemon-data.ghost { background-color: #874b9e; }
.pokemon-data.poison { background-color: #b884dc; }
.pokemon-data.fighting { background-color: #e5a2cc; }
.pokemon-data.bug { background-color: #818c36; }
.pokemon-data.ground { background-color: #8e6e5d; }
.pokemon-data.steel { background-color: #595959; }

/* Estilização para a imagem do Pokémon */
.pokemon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0 4px 6px rgb(0, 123, 255, 0.6)
}
.pokemon-img img {
  width: 100px;
  height: 100px;
}

/* Media queries para responsividade */
@media (max-width: 2100px) {
  .pokemon-list {    
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
  }
}
@media (max-width: 1700px) {
  .pokemon-list {    
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width: 1400px) {
  .pokemon-list {    
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 1000px) {
  .pokemon-list {    
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 680px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .pokemon-data {
    flex-direction: column;
    gap: 10px;
  }
  .lore-more{
    text-align: center;
    width: 200px;
    font-size: 14px;
  }
  .pokemon-list {    
    grid-template-columns: repeat(1,1fr);
  }
  nav select {
    width: 70px;
  }
  nav input {
    width: 200px;
    font-size: 12px;
  }
}
