* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: url(../img/background.jpg) top/cover ;
  background-attachment: scroll;  
  overflow-y: scroll;
  gap: 15px;
}
h1 {
  margin: 0;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  letter-spacing: 4px;
  background-color: rgba(180, 120, 180);
  border-bottom: 4px solid rgb(0, 187, 255);
  color: black;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.button-global {
  margin: 5px 30px;
  padding: 2px 3px;
  border-radius: 7px;
  font-size: 18px;  
  letter-spacing: 1px;
  color: black;
  border: 2px solid rgb(0, 187, 255);
  background-color: transparent;
}
.button-global:hover {
  color: white;
  border: 2px solid rgb(0, 187, 255);
  background-color: rgba(60, 60, 60, 0.6);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(114, 50, 190); /* Cor do fundo da barra de rolagem */
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.4); /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio de borda para o polegar */
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85, 0.8); /* Cor do polegar da barra de rolagem ao passar o mouse */
}