* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.377);
}
h1 {
  margin: 0;
  text-align: center;
  color: rgb(0, 187, 255);
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin: 10px auto;
  padding: 5px;
  font-weight: 600;
  border: 2px solid rgb(0, 187, 255);
  border-radius: 10px;
  background-color: black;
  color: black;
}
.button-global {
  margin: 5px 30px;
  padding: 2px 3px;
  border-radius: 7px;
  color: blue;
  border-color: blue;
}