.pokemon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  border: 3px solid rgb(0, 187, 255);
  border-radius: 10px;
  background-color: gray;
  line-height: 18px;
  gap: 20px;
}
.pokemon-data.fire {
  background-color: #ec6b6b;
}
.pokemon-data.water {
  background-color: #6ea8f3;
}
.pokemon-data.grass {
  background-color: #bbf8a9;
}
.pokemon-data.electric {
  background-color: #dfd925;
}
.pokemon-data.psychic {
  background-color: #c89647;
}
.pokemon-data.ice {
  background-color: #97e2f5;
}
.pokemon-data.dragon {
  background-color: #DCC6F5;
}
.pokemon-data.dark {
  background-color: #020202;
  color: white;
}
.pokemon-data.fairy {
  background-color: #F5E6FA;
}
.pokemon-data.rock {
  background-color: #a6a6a6;
}
.pokemon-data.ghost {
  background-color: #6e3593;
  color: white;
}
.pokemon-data.poison {
  background-color: #9547c8;
}
.pokemon-data.fighting {
  background-color:  #bd5cb1;
}
.pokemon-data.bug {
  background-color: #6f731e;
}
.pokemon-data.ground {
  background-color: #615347;
}
.pokemon-data.steel {
  background-color: #343232;
  color: white;
}